html {
  font-weight: 300 !important;
}
.v-main {
  background-color: #eee;
}
.v-toolbar__content,
.v-toolbar__extension {
  padding: 0px 15px 0 31px;
}
.v-toolbar__title {
  font-size: 17.5px;
}
.v-list--nav {
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.v-card {
  margin-top: 30px;
}
.v-card--material__heading {
  position: relative;
  top: -40px;
  transition: 0.3s ease;
  z-index: 1;
  border-radius: 4px;
}
